*{
    padding: 0;
    margin:0 ;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

h1{
    font-size: 20px;
    text-align: center;
    padding: 10px 2px;
    background-color: green;
    color: white;
}
/* navbar */
nav  {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    color: green;
}
nav a{
    text-decoration: none;
    
   
}
nav a:hover{
    cursor: pointer;
    color: green;
}
.image-box{
    background-image: cover;
    width: 200px auto;
}
